
.error {
    color: red;
}

#btn_change_pass, #btn_logout {
    background: #F27125;
    font-weight: bold;
    color: #fff !important;
    border: none;
}

.close_your_profile {
    margin: auto;
}

#btn_cancel_change_pass, .close_your_profile {
    background: #fff;
    color: #FF3D3D !important;
    border: 1px #FF3D3D solid;
}

#btn_change_pass:hover, #btn_logout:hover {
    background: #f15f0a
}

#btn_cancel_change_pass:hover {
    border: 2px #FF3D3D solid;
    /*color:#52c157 !important;*/
}

#btn_change_pass, #btn_cancel_change_pass, #btn_logout, .close_your_profile {
    width: 119px;
    height: 40px;
    border-radius: 4px;
}

.ipPass {
    height: 48px;
}

.body_change_pass {
    width: 85%;
    margin: 0 auto;
    margin-top: 8%;
}

.popup_change_pass {
    width: 621px;
    min-height: 519px;
    border: none !important;
    border-radius: 16px !important;
    background: #fff;
}

.title-popup-change-pass {
    background: #F27125;
    border-radius: 16px 16px 0 0;
    height: 90px;
    padding-top: 5%;
}

    .title-popup-change-pass p {
        font-family: Roboto;
        font-size: 24px;
        margin: 0 auto;
    }

#option_user {
    position: absolute;
    right: 9%;
    top: 7%;
    width: 167px;
    border: 1px solid #D5DCE6;
    border-radius: 4px;
    background: #fff;
    z-index: 1;
    cursor: pointer;
    align-items: center;
}

.option_user_menu {
    height: 41px;
    border-bottom: 1px solid #D5DCE6;
    margin: 2px;
    padding-top: 10px;
    cursor: pointer;
    text-align: left;
    justify-content: left;
    align-items: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #333333;
}

.option_logout {
    height: 40px;
    border-bottom: 1px transparent solid;
    margin: 2px;
    padding-top: 10px;
    cursor: pointer;
    text-align: left;
    justify-content: left;
    align-items: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #FF3D3D;
}

.popup_logout, .popup_your_profile {
    border: none !important;
    border-radius: 16px !important;
    background: #fff;
}

.popup_your_profile {
    width: 900px;
    height: auto;
    margin: 8% 0 8% -30%;
}

.title-popup-log-out, .title-popup-your-profile {
    background: #F27125;
    border-radius: 16px 16px 0 0;
    height: 90px;
    padding-top: 5%;
}

    .title-popup-log-out p, .title-popup-your-profile P {
        font-family: "Roboto", Helvetica;
        font-size: 24px;
        margin: 0 auto;
    }

#ModalLogout, #your_profile {
    margin: auto;
}

label.lbl-changepass {
    color: #333333 !important;
    font-size: 16px !important;
}

.show-btn {
    position: absolute;
    right: 20px;
    top: 46%;
    transform: translateY(-50%);
    color: #8b8b8b;
    font-size: 16px;
    cursor: pointer;
    display: none;
}

input:valid ~ span {
    display: block;
}

i.fa-eye.hide-btn::before {
    content: "\f070";
}

.body_your_profile {
    width: 90%;
    height: 300px;
    margin: auto;
    border: 1px solid #333333;
    position: relative;
    border-radius: 4px;
    background: #fff;
    z-index: 1;
    cursor: pointer;
    align-items: center;
}

.content_your_profile {
    height: 60px;
    margin: auto;
    border-bottom: 1px solid #333333;
    margin: auto;
    padding-top: 2.5%;
    padding-left: 2.5%;
    cursor: pointer;
    text-align: left;
    justify-content: left;
    align-items: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
}

.content_your_profile_1 {
    height: 60px;
    margin: auto;
    margin: auto;
    padding: 2.5% 2.5% 0 2.5%;
    cursor: pointer;
    text-align: left;
    justify-content: left;
    align-items: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
}

    .content_your_profile img, .content_your_profile_1 img {
        position: absolute;
        right: 2.5%;
    }

.icon-right {
    position: absolute;
    right: 7.5% !important;
}

.whitespace-sm {
    height: 15px;
}
