@{
    var returnUrl = "/inventory-reporting";

    var referer = Context.Request.Headers["Referer"];
    var see = referer;
}

<section class="d-flex justify-content-center">
    <div class="row">
        <div class="col-12">
            <h1 class="h1 txt-blue txt-heading txt-bolder text-center">Không có quyền truy cập trang này</h1>
        </div>
        <div class="col-12 text-center">
            @if (!string.IsNullOrEmpty(referer))
            {
                <a href="@referer">Trở về trang trước</a>
            }
            else
            {
                <a href="@returnUrl">Trở về trang chủ</a>
            }
        </div>
    </div>
</section>
