<link href="./assets/css/commonSearch.css" asp-append-version="true" rel="stylesheet" />

<div class="container_search">
    <button type="button" id="btn-reset" class="background-color-grey btn_reset">
        <div class="icon_reset">
            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M6.07333 3.38676C6.65333 3.21343 7.29333 3.1001 8 3.1001C11.1933 3.1001 13.78 5.68676 13.78 8.8801C13.78 12.0734 11.1933 14.6601 8 14.6601C4.80667 14.6601 2.22 12.0734 2.22 8.8801C2.22 7.69343 2.58 6.58676 3.19333 5.66676" stroke="#333333" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M5.24667 3.54683L7.17333 1.3335" stroke="#333333" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M5.24667 3.54688L7.49333 5.18688" stroke="#333333" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
        </div>
        Reset
    </button>
    <button type="button" id="btn-search" class="btn_search">
        <div class="icon_search">
            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M7.66667 14.0002C11.1645 14.0002 14 11.1646 14 7.66683C14 4.16903 11.1645 1.3335 7.66667 1.3335C4.16886 1.3335 1.33333 4.16903 1.33333 7.66683C1.33333 11.1646 4.16886 14.0002 7.66667 14.0002Z" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M14.6667 14.6668L13.3333 13.3335" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
        </div>
        @Html.Translate("Tìm kiếm")
    </button>
</div>