
<meta charset="utf-8" />
<title>@(ViewBag.Title ?? "BIVN")</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta content="BIVN" name="description" />
<meta content="BIVN" name="author" />
<!-- App favicon -->
<link rel="shortcut icon" href="./assets/images/logo/brotherIcon.png">
