.title {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
    color: #000000;
}

.form-control-leads-filter {
    padding-bottom: 10px;
    font-size: 14px;
}

.form-control-leads-filter label {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #828282;
}

.form-control-leads-filter input[type="text"] {
    font-style: normal;
    font-weight: normal;
    font-size: 18px !important;
    color: #111111;
}

#titleUlMyList {
    padding-left: 0 !important;
    display: block;
    position: relative;
    height: 55.5px;
}

#btnCreateMyLeadsFilter {
    position: absolute;
    top: 0;
    right: 0;
}

#titleUlMyList span {
    font-weight: bold;   
}

/*#btnCreateNewMyList {
    background: #0066B2;
    border-radius: 4px;
    margin-left: 50px;
}*/

#ulMyList {
    list-style: none;
    margin: 0;
    padding: 0;
}

    #ulMyList li {
        /*padding: 1rem;*/
        border-bottom: 1px solid #D5DCE6;
    }

        #ulMyList .li-mylist a,
        #ulMyList li a {
            color: #111111;
            padding: 1rem;
            display: block;
            /*margin-left: 16px;*/
            /* display: block;
            width: 100%;
            height: 100%;*/
        }

    #ulMyList .li-active {
        background-image: url("../images/li-active-my-list.png");
        background-repeat: no-repeat;
        /*background-attachment: fixed;*/
        background-position: left center;
        /*background: url("../images/li-active-my-list.png") no-repeat fixed left;*/
        /*list-style: inside url("../images/li-active-my-list.png");
        padding-left: 0 !important;
        padding-right: 0 !important;*/
    }

        #ulMyList .li-active a
        {
            color: #0066B2;
            padding-left: 32px !important;
            font-weight: bold;           
        }

.conditions-label {
    font-weight: bold;
    font-size: 16px;
}

.select2-selection__rendered {
    line-height: 31px !important;
}

.select2-container .select2-selection--single {
    height: 35px !important;
}

.select2-selection__arrow {
    height: 34px !important;
}
