@{
    ViewBag.Title = "Thay đổi mật khẩu";
    Layout = "~/Views/Shared/AccountLayout.cshtml";
}


@section TopLoginTitle {
    <div class="col-xl-10 col-lg-10 col-md-10 col-sm-10 top-login-pages-title">
        <label>
            <a href="@Url.Action("Index", "Account")">Đăng nhập</a> / <a href="@Url.Action("ChangePassword", "Account")">Thay đổi mật khẩu</a>
        </label>
    </div>
}

<h4 class="Title_Login">Thay đổi mật khẩu</h4>
<form id="BIVN_ChangePassword_Form">
    <div class="row ChangePassword_Form">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 ip-form-update box-container mb-2">
            <label>Tài khoản đăng nhập</label>
            <input id="UserName_ChangePassword" name="UserName_ChangePassword" type="text" class="form-control background-color-grey" placeholder="Nhập tài khoản đăng nhập..." />
        </div>
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 ip-form-update box-container mb-2">
            <label>Mật khẩu cũ</label>
            <div class="Password_Login_Container">
                <input id="OldPassword_ChangePassword" name="OldPassword_ChangePassword" type="password" class="form-control background-color-grey" placeholder="Nhập mật khẩu cũ..." />
                <div class="btn_Password_Login_Image">
                    <img id="Show_OldPassword_ChangePassword" src="./assets/images/icons/eye.png" />
                    <img id="Hide_OldPassword_ChangePassword" style="display:none;" src="./assets/images/icons/hidePass.png" />
                </div>
            </div>
        </div>
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 ip-form-update box-container mb-2">
            <label>Mật khẩu mới</label>
            <div class="Password_Login_Container">
                <input id="NewPassword_ChangePassword" name="NewPassword_ChangePassword" type="password" class="form-control background-color-grey" placeholder="Nhập mật khẩu mới..." />
                <div class="btn_Password_Login_Image">
                    <img id="Show_NewPassword_ChangePassword" src="./assets/images/icons/eye.png" />
                    <img id="Hide_NewPassword_ChangePassword" style="display:none;" src="./assets/images/icons/hidePass.png" />
                </div>
            </div>
        </div>
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 ip-form-update box-container mb-3">
            <label>Xác nhận mật khẩu mới</label>
            <div class="Password_Login_Container">
                <input id="ConfirmNewPassword_ChangePassword" name="ConfirmNewPassword_ChangePassword" type="password" class="form-control background-color-grey" placeholder="Xác nhận mật khẩu mới..." />
                <div class="btn_Password_Login_Image">
                    <img id="Show_ConfirmNewPassword_ChangePassword" src="./assets/images/icons/eye.png" />
                    <img id="Hide_ConfirmNewPassword_ChangePassword" style="display:none;" src="./assets/images/icons/hidePass.png" />
                </div>
            </div>
        </div>
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 ip-form-update mb-3">
            <button type="button" id="btn_Apply_BIVN_ChangePassword_Form">
                Xác nhận
            </button>
        </div>

    </div>
</form>
