<!--ChangePassword_ViewDetalUser Modal -->
<div class="modal fade" id="ChangePassword_ViewDetailUserModal" tabindex="-1" role="dialog" aria-labelledby="ChangePassword_ViewDetailUserModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                @*<h5 class="modal-title" id="ViewDetailUserModalLabel">Thêm mới người dùng</h5>*@
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="Top_ViewDetailUser">
                    <div class="Image_Top_ViewDetalUser">
                        <img src="./assets/images/logo/brotherLogo_txt_blue.svg" width="176" />
                    </div>
                    <h4 class="modal_header_title py-3 mb-0">@Html.Translate("Thay đổi mật khẩu")</h4>
                </div>
                <form id="ChangePassword_ViewDetailUser_Form">
                    <div class="row">                      
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 ip-form-update box-container mb-3">
                            <label class="text_label">@Html.Translate("Mật khẩu mới")</label>
                            <div class="Password_Login_Container">
                                <input id="NewPassword_ChangePassword_ViewDetailUser" name="NewPassword_ChangePassword_ViewDetailUser" type="password" class="form-control background-color-grey" placeholder="@Html.Translate("Nhập mật khẩu mới")..." />
                                <div class="icon_eye">
                                    <img id="NewPassword_ChangePassword_ViewDetailUser_Show" src="./assets/images/icons/eye.png" />
                                    <img id="NewPassword_ChangePassword_ViewDetailUser_Hide" style="display:none;" src="./assets/images/icons/hidePass.png" />
                                </div>
                            </div>
                            <span id="NewPassword_ChangePassword_ViewDetailUser_span" class="text-danger error-notification"></span>
                        </div>                      
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 ip-form-update box-container mb-3">
                            <button id="btnChangePassword_ViewDetailUser" class="btn btn-primary">@Html.Translate("Xác nhận")</button>
                        </div>
                    </div>
                </form>
            </div>            
        </div>
    </div>
</div>

