<div id="@nameof(Views_Shared_Common__DeleteDepartmentModal)" class="modal fade"
     tabindex="-1"
     role="dialog"
     aria-labelledby="exampleModalLongTitle"
     aria-hidden="true">
    <div class="h-100 d-flex justify-content-center">
        <div class="w-50">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-body mx-auto">
                        <h3 class="modal-title text-center txt-bolder">Xóa phòng ban</h3>
                        <p>Bạn có chắc chắn muốn xóa phòng ban này?</p>
                    </div>
                    <div class="modal-footer">
                        <div class="container-fluid d-flex justify-content-between">
                            <button type="button" class="btn btn-outline-danger w-50 mx-2" data-bs-dismiss="modal">Hủy bỏ</button>
                            <button type="button" id="btnConfirmDelete" class="btn btn-primary w-50 mx-2">Đồng ý</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

