<div id="@nameof(Views_Shared_Common__EditDepartmentModal)" class="modal fade"
     tabindex="-1"
     role="dialog"
     aria-labelledby="exampleModalLongTitle"
     aria-hidden="true">
    @await Component.InvokeAsync("EditDepartment");
</div>

