<!--ViewDetailUser Modal -->
<div class="modal fade" id="ListComponent_ViewDetailUserModal" tabindex="-1" role="dialog" aria-labelledby="ListComponent_ViewDetailUserModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-md modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="custom_modal_header">
                @*<h5 class="modal-title" id="ViewDetailUserModalLabel">Thêm mới người dùng</h5>*@
                <h4>Chi tiết linh kiện</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="Content_ListComponentViewDetail">
                    <div class="Content_Bottom_ListComponentViewDetail">
                        <div class="row mb-4">
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
                                <h5 class="text_label">Mã linh kiện: </h5>
                            </div>
                            <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8">
                                <h5 class="text_label Code_Content_Top_ListComponentViewDetail">098765432</h5>
                            </div>
                        </div>
                        <div class="row mb-4">
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
                                <h5 class="text_label">Tên linh kiện: </h5>
                            </div>
                            <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8">
                                <h5 class="text_label Name_Content_Top_ListComponentViewDetail">Tên linh kiện 1</h5>
                            </div>
                        </div>
                        <div class="row mb-4">
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
                                <h5 class="text_label"> Mã nhà cung cấp: </h5>
                            </div>
                            <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8">
                                <h5 class="text_label SuppilerCode_Content_Top_ListComponentViewDetail">Mã nhà cung cấp 1</h5>
                            </div>
                        </div>
                        <div class="row mb-4">
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
                                <h5 class ="text_label">Tên nhà cung cấp: </h5>
                            </div>
                            <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8">
                                <h5 class="text_label SuppilerName_Content_Top_ListComponentViewDetail">Tên nhà cung cấp 1</h5>
                            </div>
                        </div>
                        <div class="row mb-4">
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
                                <h5 class ="text_label">Tên nhà cung cấp rút gọn: </h5>
                            </div>
                            <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8">
                                <h5 class="text_label SuppilerShortName_Content_Top_ListComponentViewDetail">Tên nhà cung cấp rút gọn 1</h5>
                            </div>
                        </div>
                        <div class="row mb-4">
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
                                <h5 class="text_label">Vị trí cố định: </h5>
                            </div>
                            <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8">
                                <h5 class="text_label PositionCode_Content_Bottom_ListComponentViewDetail">5T2F3-14-1</h5>
                            </div>
                        </div>
                        <div class="row mb-4">
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
                                <h5 class="text_label">Trạng thái tồn kho(nhỏ nhất): </h5>
                            </div>
                            <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8">
                                <h5 class="text_label InventoryQtyMin_Content_Bottom_ListComponentViewDetail">100</h5>
                            </div>
                        </div>
                        <div class="row mb-4">
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
                                <h5 class="text_label">Tồn kho thực tế: </h5>
                            </div>
                            <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8">
                                <h5 class="text_label InventoryQty_Content_Bottom_ListComponentViewDetail">200</h5>
                            </div>
                        </div>
                        <div class="row mb-4">
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
                                <h5 class="text_label">Trạng thái tồn kho(lớn nhất): </h5>
                            </div>
                            <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8">
                                <h5 class="text_label InventoryQtyMax_Content_Bottom_ListComponentViewDetail">5000</h5>
                            </div>
                        </div>
                        <div class="row mb-4">
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
                                <h5 class="text_label">Thông tin linh kiện </h5>
                            </div>
                            <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8">
                                <h5 class="text_label ComponentInfo_Content_Bottom_ListComponentViewDetail">Phần nội dung của thông tin linh kiện</h5>
                            </div>
                        </div>
                        <div class="row mb-4">
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
                                <h5 class="text_label">Ghi chú: </h5>
                            </div>
                            <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8">
                                <h5 class="text_label ComponentNote_Content_Bottom_ListComponentViewDetail">Phần nội dung ghi chú</h5>
                            </div>
                        </div>
                        <div class="row mb-4">
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
                                <h5 class="text_label">Thời gian tạo: </h5>
                            </div>
                            <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8">
                                <h5 class="text_label CreatedAt_Content_Bottom_ListComponentViewDetail">10/10/2023</h5>
                            </div>
                        </div>
                        <div class="row mb-4">
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
                                <h5 class="text_label">Người tạo: </h5>
                            </div>
                            <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8">
                                <h5 class="text_label CreatedBy_Content_Bottom_ListComponentViewDetail">Administrator</h5>
                            </div>
                        </div>
                        <div class="row mb-4">
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
                                <h5 class="text_label">Thời gian sửa: </h5>
                            </div>
                            <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8">
                                <h5 class="text_label UpdatedAt_Content_Bottom_ListComponentViewDetail">12/10/2023 15:00</h5>
                            </div>
                        </div>
                        <div class="row mb-4">
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
                                <h5 class="text_label">Người sửa: </h5>
                            </div>
                            <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8">
                                <h5 class="text_label UpdatedBy_Content_Bottom_ListComponentViewDetail">Nguyễn Công Thành</h5>
                            </div>
                        </div>
                    </div>

                </div>
            </div>            
        </div>
    </div>
</div>

