<div id="@nameof(Views_Shared_Common__NewDepartmentModal)" class="modal fade"
     tabindex="-1"
     role="dialog"
     aria-labelledby="exampleModalLongTitle"
     aria-hidden="true">
    @await Component.InvokeAsync("CreateDepartment");
</div>



