:root {
    --light_grey: #9e9e9e38;
}

body{
    background-color: white;
}

/*Responsive*/
@media only screen and (max-width: 900px) and (min-width: 300px) {
    body {
        font-size: 14px !important;
    }
    .container{
        max-width: 600px;
    }

    hr {
        margin: 0.5em 0;
    }

    .page-content {
        display: flex;
    }

    .page-content {
        padding: 0 !important;
    }

    .modal-right .modal-dialog {
        transform: translateX(-50%);
       /* -webkit-transition: all .08s linear;
        -moz-transition: all .08s linear;*/
        transition: all .3s ease;
    }

    .modal-right.show.modal .modal-dialog {
        transform: translateX(0);
    }

    .modal-bottom-top .modal-dialog {
        transform: translateY(50%);
        /*-webkit-transition: all .1s ease;
        -moz-transition: all .1s ease;*/
        transition: all .3s ease;
    }

    .modal.show.modal-bottom-top .modal-dialog {
        transform: translateY(0);
    }

    #auditMobile_sidebar_menu .modal-content {
        height: 100vh;
    }

    #auditMobile_sidebar_menu .modal-dialog {
        margin: 0;
    }

    #auditMobile_sidebar_menu .modal-content {
        border-radius: 0;
    }

    #auditMobile_sidebar_menu {
        width: 70vw !important;
    }

    #auditmobile_avatar {
        border-radius: 50%;
    }

    .main-content > .page-content > .container-fluid {
        padding: 0;
    }

    .option_slash {
        padding: 5px;
        font-size: 2.2em;
        font-weight: 100;
    }

    .setting_container {
        border-left: solid var(--light_grey) 1px;
        padding-left: 0.5em;
    }

    .user_settings, .mobile_nav_back {
        position: absolute;
    }

    .form-control:focus {
        border: solid lightgrey 1px;
    }

    .swal2-title {
        font-size: 1.2em !important;
    }

    .swal2-actions .swal2-confirm.swal2-styled {
        width: fit-content;
        padding: 0.35em 0.5em;
    }

    .swal_confirm_actions .swal2-confirm.swal2-styled {
        width: 50%;
        padding: 8px 1em;
    }

    .swal_confirm_actions .swal2-cancel.swal2-styled {
        padding: .5em 1.1em;
    }

    .swal_confirm_actions .swal2-confirm.swal2-styled {
        width: 100%;
        padding: .5em 1.1em;
    }

    #modal_filter_audittargetlist .modal-dialog {
        top: 48%;
        margin: 0;
    }

    #modal_filter_audittargetlist .modal-content {
        border-top-left-radius: 1.5em;
        border-top-right-radius: 1.5em;
    }

    .select_position_container {
        font-size: 18px;
    }

    .swal2-popup {
        padding: 1em 0 !important;
    }

    .swal2-content, .swal2-html-container {
        font-size: 1em;
    }

    .btn-close:after {
        background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e") center/0.6em auto no-repeat;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        content: "";
    }

    .btn-close {
        padding: 0.45rem;
        color: #000;
        background: #DCDCDC;
        border-radius: 50%;
    }

    #auditMobile_sidebar_menu .btn-close {
        background: none;
    }

    #auditMobile_sidebar_menu .btn-close:after {
        background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e") center/0.9em auto no-repeat;
    }

    .custom_modal_header {
        padding: 0;
    }

    .custom_modal_header .btn-close {
        right: 0;
    }

    #filter_audit_form .modal-body {
        padding: 1rem 1.25rem 0 1.25rem;
    }

    #select_department, #select_location, #select_componentCode {
        background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTYiIHZpZXdCb3g9IjAgMCAxNiAxNiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTEzLjI4IDUuOTY2OEw4LjkzMzMgMTAuMzEzNUM4LjQxOTk3IDEwLjgyNjggNy41Nzk5NyAxMC44MjY4IDcuMDY2NjQgMTAuMzEzNUwyLjcxOTk3IDUuOTY2OCIgc3Ryb2tlPSIjMzMzMzMzIiBzdHJva2Utd2lkdGg9IjEuNSIgc3Ryb2tlLW1pdGVybGltaXQ9IjEwIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiLz4KPC9zdmc+Cg==');
        background-repeat: no-repeat;
        background-position: right 10px center;
    }

    #toast-container {
        top: 0;
        right: 0;
        left: 0;
        display: flex;
        justify-content: center;
    }

    .form-control:focus {
        border: solid lightgrey 1px;
        box-shadow: none;
    }

    #btnScanQR {
        height: 38.3px;
    }
    /*#ComponentCode-error{
        position: relative;
    }*/
            
    .btn-check:focus + .btn, .btn:focus {
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    .QR_Container {
        background: linear-gradient(to right, #5092FC 5px, transparent 5px) 0 0, linear-gradient(to right, #5092FC 5px, transparent 5px) 0 100%, linear-gradient(to left, #5092FC 5px, transparent 5px) 100% 0, linear-gradient(to left, #5092FC 5px, transparent 5px) 100% 100%, linear-gradient(to bottom, #5092FC 5px, transparent 5px) 0 0, linear-gradient(to bottom, #5092FC 5px, transparent 5px) 100% 0, linear-gradient(to top, #5092FC 5px, transparent 5px) 0 100%, linear-gradient(to top, #5092FC 5px, transparent 5px) 100% 100%;
        background-repeat: no-repeat;
        background-size: 40px 40px;
        padding: 2px;
        border-radius: 4px;
        min-height: 300px;
    }
    #dummyQRCode {
        position: relative;
        padding: 2px;
    }
    .qr_placeholder{
        position: absolute;
        color: white;
    }
    .top_bar{
        position: fixed;
        background: white;
        z-index: 99;
    }
}