
/*Hạn chế viết vào file css chung này*/
.ContentTextHistory {
    overflow: hidden;
    max-height: 25px;
    text-overflow: ellipsis;
    max-width: 95%;
}
.pointEventNone {
    pointer-events: none;
}
.table-scroll {
    width: 98%;
    table-layout: fixed;
    max-height: 420px;
    overflow:auto;
    white-space: nowrap;
}
    .table-scroll::-webkit-scrollbar {
        width: 6px;
        height: 6px;
        background-color: #fff;
    }

    .table-scroll::-webkit-scrollbar-thumb {
        background-color: #D5DCE5;
        border-radius: 25px;
    }

    .table-scroll::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
        background-color: #fff;
    }
.breakText {
    max-width: 165px;
    white-space: normal !important;
}
thead {
    width: 100%;
    top: 0;
    z-index: 3;
    background: #fff;
}
tbody{
    width:100%;
}
#tableListHistory td {
    max-width: 115px;
    min-width: 115px;
    height: 100%;
}
#tableListHistory tr {
    position: relative;
    height: 20px;
}
.show-more-content-history {
    height: 100%;
    min-width: 140px;
    /* position: absolute; */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.shadow-box {
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.tab-direct-button {
    display: grid;
    grid-auto-flow: column;
}
.text-md-custom {
    color: #828282;
    font-weight: normal;
}
.color-label-1 {
    color: #333333;
    font-size: 18px !important;
    font-weight: normal;
}

.color-label-3 {
    color: #828282;
    font-size: 16px;
    font-weight: normal;
}

.color-label-2 {
    color: #111111;
    font-weight: normal;
    font-size: 18px !important;
}

.color-label-0 {
    color: #000000;
    font-weight: normal;
    font-size: 18px !important;
}

.ip-form-update input[type="text"], input[type="number"] {
    font-style: normal;
    font-weight: normal;
    font-size: 18px !important;
    color: #111111;
}

.select-tag-custom {
    border-radius: 0.25rem;
    display: block;
    width: 100%;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    padding: 0.47rem 1.75rem 0.47rem 0.75rem;
    line-height: 1.5;
    appearance: none;
    color: #111111;
    font-weight: normal;
    font-size: 18px !important;
    background: url(/Image/arrow-drop.svg) right 7px center no-repeat;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
}
.select-tag-custom:focus {
    border-color: #80bdff;
    color: #111111;
    box-shadow: 0 0 0 0.1rem rgba(0, 123, 255, 0.25);
    outline: 0 none;
}
    .select-tag-custom:disabled {
        background-color: #eff2f7 !important;
    }
.select-tag-disabled {
    background-color: #eff2f7 !important;
}
.datepickerIcon {
    background: url(/Image/calendar-icon.svg) right 7px center no-repeat;
}

.divAvatarLead {
    display: flex;
    justify-content: flex-start;
}

.imgAvatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: transparent;
    z-index: 2;
}

.imgDefault {
    z-index: 0;
    width: 100px;
    height: 100px;
}

.divImgLeadTop {
    z-index: 1;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.directional-bar {
    max-height: 165px;
    min-height: 160px;
}

#imgLeadTop {
    width: 105px;
    height: 105px;
    border-radius: 50%;
}

.contacInfoLead {
    width: 70%;
}

.imgAvatar {
    width: 25%;
}

.option-list {
    color: #111111;
    text-align: center !important;
    cursor: pointer;
    background: #fff;
    font-weight: bold;
    height: 56px;
    padding: 15px 3px;
}

    .option-list:hover {
        border: 1px #0D2EA0 solid;
        background-color: #0D2EA0;
        color: #fff;
    }
#option-lead-overview, #option-REG-profile, #option-NB-profile, #option-NE-profile, #option-DO-profile {
    border-right: 1px solid #D5DCE6;
}
#option-lead-overview {
    border-radius: 8px 0 0 8px;
}
#option-history {
    border-radius: 0 8px 8px 0;
}
.option-selected {
    border: 1px #0D2EA0 solid;
    background-color: #0D2EA0;
    color: #fff;
}

    .option-selected:hover {
        border: 1px #5067d4 solid;
        background-color: #5067d4;
    }


.btn-custom-size {
    width: 148px;
    height: 36px;
    padding: 5px 16px;
}

.titleRightContent {
    display: flex;
    justify-content: space-between;
}
table th {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    border-bottom: 2px solid #dee2e6;
}

table td {
    color: #111111;
    font-weight: normal;
    line-height: 21px;
    font-size: 18px;
    border-bottom: 2px solid #dee2e6;
}
.showMoreNote{
    cursor:pointer;
}
.img-icon-warning {
    background: url(/Image/danger-icon.svg) center no-repeat;
}

.img-icon-cancel {
    background: url(/Image/cancel-icon.svg) center no-repeat;
}

.img-icon-complete {
    background: url(/Image/complete-icon.svg) center no-repeat;
}
#noteContent {
    height: 162px;
    resize: none;
}
#reminderContent {
    height: 72px;
    max-height: 162px;
}
.actionRequest{
    justify-content:space-between;
}
/*min width > 1440px*/
@media only screen and (min-width: 1440px) {
    .select-tag-custom{
        font-size:18px !important;
    }
    .text-md-custom {
        color: #828282;
        font-size: 16px;
        font-weight: normal;
    }
    #reminderContent, #noteContent, #linkViewAllRequest {
        font-size: 18px !important;
    }
    .btnCofirmRequest{
        width: 75px;
        height: 35px;
        padding: 3px;
    }
}
/*Max width = 1440px*/
@media only screen and (max-width: 1440px) {
    .arrowIcon {
        width: 42px !important;
        margin-left: 26px !important;
    }
    .processingFile-Area {
    }
    .header-Fixed01 {
        width: 82.2% !important;
    }
    .status-ChildFile {
        width: 56px !important;
        height: 56px !important;
    }
    .option-list {
        height: 50px;
    }
    .btnCofirmRequest {
        width: 56px;
        height: 34px;
        padding: 4px;
        font-size: 13px !important;
    }
    #ipDateSearchHistory{
        background:none !important;
    }
    .text-md-custom {
        font-size: 14px !important;
    }
    .color-label-1 {
        font-size: 16px !important;
    }

    .color-label-3 {
        font-size: 14px;
    }

    .color-label-2 {
        font-size: 16px !important;
    }

    .color-label-0 {
        font-size: 16px !important;
    }

    .ip-form-update input[type="text"], input[type="number"] {
        font-size: 16px !important;
    }

    .select-tag-custom {
        font-size: 16px !important;
    }
    .imgAvatar {
        width: 90px;
        height: 90px;
        border-radius: 50%;
        background-color: transparent;
        z-index: 2;
    }

    .imgDefault {
        z-index: 0;
        width: 90px;
        height: 90px;
    }

    .divImgLeadTop {
        z-index: 1;
        width: 90px;
        height: 90px;
        border-radius: 50%;
    }

    .directional-bar {
        max-height: 160px;
    }

    #imgLeadTop {
        width: 95px;
        height: 95px;
        border-radius: 50%;
    }
    .btn-custom-size {
        width: 109px;
        height: 30px;
        padding: 3px 0px;
    }
    #btnSaveReminderContent{
        width:110px;
    }
    .imgDefault>i{
        font-size:6rem !important;
    }
    #linkViewAllRequest{
        font-size:16px !important;
    }
    #reminderContent {
        min-height: 53px;
        height:53px;
        max-height: 162px;
    }
    table th, td {
        font-size: 16px !important;
    }
}
/*max width = 1024px*/
@media only screen and (max-width: 1024px) {
    .option-list {
        height: 45px;
        padding: 12px 3px;
    }
    #ipDateSearchHistory{
        background:none !important;
    }
    table th,td {
        font-size: 16px !important;
    }
    .iconNotification{
        display:none;
    }
    .btnCofirmRequest {
        width: 56px;
        height: 34px;
        padding: 4px;
        font-size: 13px !important;
    }
    .page-content>.container-fluid {
        padding-left:0;
        padding-right:0;
    }
    .text-md-custom {
        font-size: 14px !important;
    }

    .color-label-1 {
        font-size: 16px !important;
    }

    .color-label-3 {
        font-size: 14px;
    }

    .color-label-2 {
        font-size: 16px !important;
    }

    .color-label-0 {
        font-size: 16px !important;
    }

    .ip-form-update input[type="text"], input[type="number"] {
        font-size: 16px !important;
    }

    .select-tag-custom {
        font-size: 16px !important;
    }
    .divAvatarLead{
        padding-left:0 !important;
        padding-right:1px !important;
    }
    .imgAvatar {
        top: 5%;
        width: 70px;
        height: 70px;
        border-radius: 50%;
        background-color: transparent;
        z-index: 2;
    }

    .imgDefault {
        z-index: 0;
        width: 70px;
        height: 70px;
    }

    .divImgLeadTop {
        z-index: 1;
        width: 70px;
        height: 70px;
        border-radius: 50%;
    }

    .directional-bar {
        max-height: 160px;
    }

    #imgLeadTop {
        width: 101%;
        height: 101%;
        border-radius: 50%;
    }

    .btn-custom-size {
        width: 100px;
        height: 30px;
        padding: 3px 0px;
    }

    #btnSaveReminderContent {
        width: 110px;
    }

    .imgDefault > i {
        font-size: 4rem !important;
    }

    #linkViewAllRequest {
        font-size: 16px !important;
    }

    #reminderContent {
        min-height: 53px;
        height: 53px;
        max-height: 162px;
    }
    /*#divNotificationEditRequest{
        margin-top:0px !important;
    }*/
    .rowNotificaitonEdit{
        padding:10px 8px !important;
    }
    .mainContentDetails{
        padding-left:0;
    }
    .editRequestNotification{
        padding-left:0;
    }
    .leftBar{
        padding-left:0.5rem;
        padding-right:0.5rem;
    }
    #btn-submit-update-lead{
        margin-bottom:2px;
    }
    .bottomContent{
        margin-left:6px;
    }
    .contacInfoLead{
        white-space:nowrap;
        padding-left:0 !important;
    }
}

.directional__bar-box {
    display: grid;
    grid-template-columns: auto auto;
}



.btnDeleteImage {
    position: absolute;
    left: unset !important;
    right: 0;
    width: fit-content;
    transform: translate(-20%, 20%) !important;
    color: #d47841 !important;
    border: solid #d47841 1px !important;
    /*background: #d47841 !important;*/
    padding: 0.5px 4px !important;
    font - size: 0.8rem;
    transition: all ease .5s;
}

.btnDeleteImage:hover {
    /*font-size: 0.95rem;*/
    background: #d47841 !important;
    color: white !important;
}
.delete_fit_image{
    width: 100% !important;
    object-fit: contain;
}


.btnCloseHeader {
    border: solid transparent;
    border-bottom: solid #565656 4px;
    width: 0;
    position: relative;
    left: 45%;
    right: 50%;
    transform: scale(2) rotate(180deg) translate(-50%, -50%);
    cursor: pointer;
}

span.select2-selection.select2-selection--single {
    height: 44px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 26px;
    position: absolute;
    top: 0 unset !important; 
    right: 1px;
    width: 20px !important; 
}

